@model IEnumerable<ASPprojekt.Models.Product>
@inject AppDbContext _context

<h1>Produkty</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary" style="color: white; text-decoration: none;">Dodaj Nowy Produkt</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>Stan</th>
        <th>Akcje</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (_context.ProductionOrders.Any(p => p.ProductID == item.ProductID))
                {
                    <button class="btn btn-warning">Wykonywany</button>
                }
                else
                {
                    <button class="btn btn-success">Dostępny</button>
                }
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ProductID }, new { @class = "btn btn-warning", style = "color: white; text-decoration: none;" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger", style = "color: white; text-decoration: none;" })
            </td>
        </tr>
    }
</table>
