@model IEnumerable<ASPprojekt.Models.ProductionOrder>
@inject AppDbContext _context

<h1>Zlecenia</h1>

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary" style="color: white; text-decoration: none;">Dodaj Nowe Zlecenie</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>Stan</th>
        <th>Akcje</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @if (_context.AssignmentOrders.Any(a => a.OrderID == item.OrderID))
                {
                    <button class="btn btn-success">W trakcie</button>
                }
                else
                {
                    <button class="btn btn-warning">Oczekujący</button>
                }
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.OrderID }, new { @class = "btn btn-warning", style = "color: white; text-decoration: none;" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.OrderID }, new { @class = "btn btn-danger", style = "color: white; text-decoration: none;" })
            </td>
        </tr>
    }
</table>
